<div class="confirm clearFix">
    <h2>Check & Confirm Your CV form</h2>
</div>
<%= form_with model: @applicant, url: save_applicant_index_path(@applicant),class:"main-form" do |form| %>
    <div class="content clearfix">
        <table>
            <tr class="col">
                <th class="col">
                    <%= form.label :name, "Name",class:"name"%>
                </th>
                <td class="col">

                    <p class="cv-form">
                        <%= form.text_field :name, value: @applicant[:name], class: "cv-bdr name-txt", :readonly => true %>
                    </p>
                </td>
            </tr>
            <tr class="col">
                <th class="col">
                    <%= form.label :profile_photo, "Profile Photo",class:"name"%>
                </th>
                <td class="col">
                    <%= image_tag @profile_photo = @file_path, class:"img"%>
                        <%= form.text_field :profile_photo, value: @file_path, class: "profile_name"%>
                </td>
            </tr>
            <tr class="col">
                <th class="col">
                    <%= form.label :dob, "Date Of Birth" ,class:"name "%>

                </th>
                <td class="col">
                    <p class="cv-form">
                        <%= form.text_field :dob, value: @applicant[:dob], class: "cv-bdr name-txt", :readonly => true %>
                    </p>

                </td>
            </tr>
            <tr class="col">
                <th class="col">
                    <%= form.label :phone1, "Phone-no1" ,class:"name"%>
                </th>
                <td class="phone col">
                    <p class="cv-form"> <span> </span>
                        <%= form.text_field :phone_no1, value: @applicant[:phone_no1], class: "cv-bdr ph-txt", :readonly => true %>
                    </p>
                </td>
            </tr>
            <tr class="col">
                <th class="col">
                    <%= form.label :phone2, "Phone-no2" ,class:"name"%>

                </th>
                <td class="phone col">
                    <p class="cv-form"> <span> <%= form.text_field :phone_no2, value: @applicant[:phone_no2], class: "cv-bdr ph-txt", :readonly => true %></p>
                </td>
            </tr>
            <tr class="col">
                <th class="col">
                    <%= form.label :email, "Email" ,class:"name"%>                    
                </th>
                <td class="col">
                  <p class="cv-form">  <%= form.text_field :email, value: @applicant[:email], class: "cv-bdr name-txt", :readonly => true %></p>
                </td>
            </tr>
            <tr class="col">
                <th class="col">
                    <%= form.label :current_add, "Current Address" ,class:"name"%>
                     
                </th>
                <td class="col">
                  <p class="cv-form"><%= form.text_field :currnet_address, value: @applicant[:currnet_address], class: "cv-bdr add-txt name-txt", :readonly => true %></p>
                </td>
            </tr>
            <tr class="col">
                <th class="col">
                    <%= form.label :home_add, "Hometown Address" ,class:"name"%>                    
                </th>
                <td class="col">
                 <p class="cv-form"> <%= form.text_field :hometown_address, value: @applicant[:hometown_address], class: "cv-bdr add-txt name-txt", :readonly => true %></p>
                </td>
            </tr>
            <tr class="col">
                <th class="col">
                    <%= form.label :uni, "Bachelor University" ,class:"name"%>                       
                </th>
                <td class="col">                                 
                    <p class="cv-form"><%= form.text_field :bachelor_university, value: @applicant[:bachelor_university], class: "cv-bdr name-txt", :readonly => true %></p>
                </td>
            </tr>
            <tr class="col">
                <th class="col">
                    <%= form.label :uni, "Bachelor Year" ,class:"name"%>                       
                </th>
                <td class="col">                                   
                    <p class="cv-form"> <%= form.text_field :bachelor_year, value: @applicant[:bachelor_year], class: "cv-bdr name-txt", :readonly => true %></p>
                </td>
            </tr>
             <tr class="col">
                <th class="col">
                    <%= form.label :uni, "Bachelor Degree" ,class:"name"%>                       
                </th>
                <td class="col">                                 
                    <p class="cv-form"> <%= form.text_field :bachelor_degree, value: @applicant[:bachelor_degree], class: "cv-bdr name-txt", :readonly => true %></p>  

                </td>
            </tr>
             <tr class="col">
                <th class="col">
                    <%= form.label :uni, "Master University" ,class:"name"%>                       
                </th>
                <td class="col">                                 
                    <p class="cv-form"><%= form.text_field :master_university, value: @applicant[:master_university], class: "cv-bdr name-txt", :readonly => true %></p>
                </td>
            </tr>
            <tr class="col">
                <th class="col">
                    <%= form.label :uni, "Master Year" ,class:"name"%>                       
                </th>
                <td class="col">                                   
                    <p class="cv-form"> <%= form.text_field :master_graduate_year, value: @applicant[:master_graduate_year], class: "cv-bdr name-txt", :readonly => true %></p>
                </td>
            </tr>
             <tr class="col">
                <th class="col">
                    <%= form.label :uni, "Master Degree" ,class:"name"%>                       
                </th>
                <td class="col">                                 
                    <p class="cv-form"> <%= form.text_field :master_degree, value: @applicant[:master_degree], class: "cv-bdr name-txt", :readonly => true %></p>  

                </td>
            </tr>
             <tr class="col">
                <th class="col">
                    <%= form.label :deploma, "Deploma" ,class:"name"%>                   
                </th>
                <td class="col">
                 <p class="cv-form"> <%= form.text_field :deploma_name, value: @applicant[:deploma_name], class: "cv-bdr name-txt", :readonly => true %></p>
                </td>
            </tr>
              <tr class="col">
                <th class="col">
                    <%= form.label :other_certificate, "Other Certificates" ,class:"name"%>                   
                </th>
                <td class="col">
                 <p class="cv-form"> <%= form.text_field :certificate, value: @applicant[:certificate], class: "cv-bdr name-txt", :readonly => true %></p>
                </td>
            </tr>
            <tr class="col">
                <th class="col">
                    <%= form.label :program_skill, "Programming Skills" ,class:"name"%>                   
                </th>
                <td class="col">
                   <p class="cv-form bch"><%= form.text_field :programming, value: @applicant[:programming], class: "cv-bdr name-txt", :readonly => true %></p>     
                </td>
            </tr>
               <tr class="col">
                <th class="col">
                    <%= form.label :e_skill, "English Skill" ,class:"name"%>                   
                </th>
                <td class="col">
                 <p class="cv-form bch"><%= form.text_field :english, value: @applicant[:english], class: "cv-bdr  ph-txt", :readonly => true %></p>
                </td>
            </tr>
            <tr class="col">
                <th class="col">
                    <%= form.label :japan_skill, "Japan Skill" ,class:"name"%>                   
                </th>
                <td class="col">
                 <p class="cv-form bch"><%= form.text_field :japan, value: @applicant[:japan], class: "cv-bdr ph-txt ", :readonly => true %></p>
                </td>
            </tr>
            <tr class="col">
                <th class="col">
                    <%= form.label :other_skill, "Other Skills" ,class:"name"%>                   
                </th>
                <td class="col">
                 <p class="cv-form bch"><%= form.text_field :other, value: @applicant[:other], class: "cv-bdr ph-txt ", :readonly => true %></p>
                </td>
            </tr>
           <tr class="col">
                <th class="col">
                    <%= form.label :internship_info, "Internship Info" ,class:"name"%>                   
                </th>
                <td class="col">
                 <p class="cv-form"> <%= form.text_field :internship_info, value: @applicant[:internship_info], class: "cv-bdr add-txt name-txt", :readonly => true %></p>
                </td>
            </tr>
            <tr class="col">
                <th class="col">
                    <%= form.label :job_experience, "Job Experience" ,class:"name"%>                   
                </th>
                <td class="col">
                 <p class="cv-form"> <%= form.text_field :job_experience, value: @applicant[:job_experience], class: "cv-bdr add-txt name-txt", :readonly => true %></p>
                </td>
            </tr>
            <tr class="col">
                <th class="col">
                    <%= form.label :total_exp_year, "Total Expericence Year" ,class:"name"%>                   
                </th>
                <td class="col">
                 <p class="cv-form"> <%= form.text_field :total_exp_year, value: @applicant[:total_exp_year], class: "cv-bdr name-txt ", :readonly => true %></p>
                </td>
            </tr>
        </table>      
    </div>
     <div class="confirm-btn clearFix">
            <%= link_to '<button type="button" class="reset">Cancle</button>'.html_safe, root_path(@applicant) %>
            <%= form.submit "Submit", class:"submit"%>
        </div>
  <% end %>